%h2= @galery.name
%h5= @galery.description

%br
= render 'item_form'
%button.btn.show_item_form Add new image
%br
%table.image_table
  - @galery.items.in_groups_of(3) do |group|
    %tr
      - group.compact.each do |item|
        %td{style: 'margin: 10px'}
          = link_to edit_item_path(item) do
            %img.resized_image.card-img-top{src: item.url}

