.item_form {
  display: none;
}
.card-img-top {
  width: 18rem;
  height: 18rem;
}
.resized_image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  margin:10px;
  position: relative;
  &:hover {
    max-width: 310px;
    max-height: 310px;
    box-shadow: 6px 6px lightgrey;
    border-radius: 5px;
  }
}

.image_table {
  margin: 30px;
  .image_cell {
    width: 350px;
    height: 350px;
  }
}
